@model VyatkinSchool.Models.VideoFileItem
@{
    ViewBag.Title = "Видео успешно удаленно";
}

<div id="page">
    <div class="container">
        <div class="title">
            <h2>@ViewBag.Title.</h2>
        </div>

        <h2>Удаление видео</h2>

        <a href="@Url.Action("List", "Video")" class="btn btn-primary">
            Перейти к списку видео
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </a>

        <p>
            <strong>Видео было удалено. Его востановление не возможно.</strong>
        </p>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


