@using VyatkinSchool.Users.Models;
@model IEnumerable<VyatkinSchool.Infrastructure.ApplicationUser>

@{
    ViewBag.Title = "ASP.NET Identity";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Учетные записи
        </div>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Email</th>
            </tr>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="3" class="text-center">Нет ни одной учетной записи</td>
                </tr>
            }
            else
            {
                foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                    </tr>
                }
            }
        </table>
    </div>
    @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-primary" })
</body>
</html>
