<div id="copyright" class="container">
    <p>&copy; Школа борьбы Олега Вяткина. Все права защищены.</p>
    <p>Разработал: <a href="http://kosolapov.info" rel="nofollow">Денис Косолапов</a> | Дизайн: <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
