@model VyatkinSchool.Models.Contacts

<div id="page">
    <div class="container">
        <div class="title">
            <h2>Расписание</h2>
            <p>Расписание занятий.</p>
            <div class="box">
                <address class="resume-text">
                    <table width="100%" border="1" align="center" cellpadding="5" cellspacing="0">
                        <tr>
                            <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)" width="200px">Время/День</th>
                            <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Понедельник</th>
                            <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Вторник</th>
                            <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Среда</th>
                            <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Четверг</th>
                            <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Пятница</th>
                            <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Суббота</th>
                            <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Воскресенье</th>
                        </tr>
                        <tr>
                            <td align="center">9-00 - 11-00</td>
                            <td align="center">-</td>
                            <td align="center">-</td>
                            <td align="center">-</td>
                            <td align="center">-</td>
                            <td align="center">-</td>
                            <td align="center">День борьбы</td>
                            <td align="center">-</td>
                        </tr>
                        <tr>
                            <td align="center">16-00 - 17-00</td>
                            <td align="center">Младшая группа</td>
                            <td align="center">-</td>
                            <td align="center">Младшая группа</td>
                            <td align="center">-</td>
                            <td align="center">Младшая группа</td>
                            <td align="center">-</td>
                            <td align="center">-</td>
                        </tr>
                        <tr>
                            <td align="center">17-30 - 19-00</td>
                            <td align="center">Старшая группа</td>
                            <td align="center">Старшая группа</td>
                            <td align="center">Старшая группа</td>
                            <td align="center">Старшая группа</td>
                            <td align="center">Старшая группа</td>
                            <td align="center">-</td>
                            <td align="center">-</td>
                        </tr>
                    </table>
                </address>
            </div>
        </div>
    </div>
</div>

