@{
    ViewBag.Title = "Расписание";
}

<div id="page">
    <div class="container">
        <div class="title">
            <h2>@ViewBag.Title</h2>
        </div>

        <div class="box">
            <table border="0" align="center" cellpadding="5" cellspacing="0" width="1000">
                <tr>
                    <td>
                        <p>Расписание занятий.</p>
                    </td>
                </tr>
            </table>
            <table border="1" align="center" cellpadding="5" cellspacing="0" width="1000">
                <tr>
                    <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)" width="200px">Время/День</th>
                    <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Понедельник</th>
                    <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Вторник</th>
                    <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Среда</th>
                    <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Четверг</th>
                    <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Пятница</th>
                    <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Суббота</th>
                    <th align="center" bgcolor="#4C4532" style="color:rgba(255,255,255,0.6)">Воскресенье</th>
                </tr>
                <tr>
                    <td align="center">15:30 - 17:00</td>
                    <td align="center">Старшая группа</td>
                    <td align="center">Старшая группа</td>
                    <td align="center">Старшая группа</td>
                    <td align="center">Старшая группа</td>
                    <td align="center">Старшая группа</td>
                    <td align="center">-</td>
                    <td align="center">-</td>
                </tr>
            </table>
            <table border="0" align="center" cellpadding="5" cellspacing="0" width="1000">
                <tr>
                    <td align="right">
                        <p><small> Расписание составленно: 01.09.2018</small></p>
                    </td>
                </tr>
            </table>

            @Html.Partial("_VisitsCounter")
        </div>
    </div>
</div>

